@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth !important;
}

.aboutMe{

  background-image:
    linear-gradient(to bottom, rgba(1, 1, 1, 0.8), rgba(63, 56, 56, 0.9)),
    url('../imgs/images.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  
}